<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2019 Braden Farmer

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!-- Manifest used for library builds of Taskbar, with the following changes:

     * Certain permissions have been removed
     * Certain activities have either had their intent filters removed, or their
       entries removed entirely, as they're not needed
     * All services and receivers are removed as they are never run
     * All components run inside a ":libtaskbar" process for isolation from the
       host application, in case of crashes, etc.
     * SecondaryHomeActivity has its order set to 100 to prevent clashing with
       the default Launcher3 secondary home activity
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application>

        <activity
            android:name=".activity.MainActivity"
            android:process=":libtaskbar"
            android:label="@string/tb_app_name"/>
        <activity
            android:name=".activity.InvisibleActivity"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Taskbar.InvisibleActivity"/>
        <activity
            android:name=".activity.InvisibleActivityAlt"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Taskbar.Incognito"/>
        <activity
            android:name=".activity.dark.InvisibleActivityAltDark"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Taskbar.Incognito.Dark"/>
        <activity
            android:name=".activity.InvisibleActivityFreeform"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/Taskbar.InvisibleActivity"/>
        <activity
            android:name=".activity.SecondaryHomeActivity"
            android:process=":libtaskbar"
            android:label="@string/tb_app_name"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:configChanges="screenSize|keyboard|keyboardHidden"
            android:theme="@style/Taskbar.HomeActivity"
            android:exported="true">
            <intent-filter android:order="100">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.SECONDARY_HOME"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ContextMenuActivity"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:theme="@style/Taskbar.Dialog"/>
        <activity
            android:name=".activity.dark.ContextMenuActivityDark"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:theme="@style/Taskbar.Dialog.Dark"/>
        <activity
            android:name=".activity.SelectAppActivity"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist"/>
        <activity
            android:name=".activity.dark.SelectAppActivityDark"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist.Dark"/>
        <activity
            android:name=".activity.DesktopIconSelectAppActivity"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist"/>
        <activity
            android:name=".activity.dark.DesktopIconSelectAppActivityDark"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist.Dark"/>
        <activity
            android:name=".activity.DummyActivity"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:theme="@style/Taskbar.Incognito"/>
        <activity
            android:name=".activity.IconPackActivity"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist"/>
        <activity
            android:name=".activity.dark.IconPackActivityDark"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist.Dark"/>
        <activity
            android:name=".activity.ClearDataActivity"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist"/>
        <activity
            android:name=".activity.dark.ClearDataActivityDark"
            android:process=":libtaskbar"
            android:theme="@style/Taskbar.Dialog.Blacklist.Dark"/>
        <activity
            android:name=".activity.DashboardActivity"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Taskbar.Incognito"/>
        <activity
            android:name=".activity.dark.DashboardActivityDark"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/Taskbar.Incognito.Dark"/>
        <activity
            android:name=".activity.TouchAbsorberActivity"
            android:process=":libtaskbar"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:theme="@style/Taskbar.Incognito"/>
    </application>

</manifest>
